/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [code_module]
      ,[code_presentation]
      ,[id_student]
      ,[gender]
      ,[region]
      ,[highest_education]
      ,[imd_band]
      ,[age_band]
      ,[num_of_prev_attempts]
      ,[studied_credits]
      ,[disability]
      ,[final_result]
      ,[date_registration]
      ,[date_unregistration]
      ,[sum_click]
      ,[id_assessment]
      ,[date_submitted]
      ,[is_banked]
      ,[score]
      ,[assessment_type]
      ,[date]
      ,[weight]
      ,[module_presentation_length]
  FROM [Thesis].[dbo].[FinalStudentTable]